


<div id="modal_PM" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" style="width:1650px;">
    <div class="modal-content">

      <div class="modal-body">
          <button class="btn btn-info btn-lg" id="pmrefresh" type="button" ><b class="glyphicon glyphicon-refresh"></b> Refresh</button>
          <button class="btn btn-warning btn-lg" id="pmedit" type="button" ><b class="glyphicon glyphicon-pencil"></b> Edit</button>
          <button class="btn btn-success btn-lg" id="pmadd" type="button" ><b class="glyphicon glyphicon-plus"></b> Add</button>
          <div class="panel panel-default">
            <table aria-describedby="example_info" cellspacing="0"
                   class="display"
                   id="tabelprev" role="grid" style="width: 100%;"
                   width="100%">
              <!-- Header Table -->
              <thead>
              <tr>
                <th>id_pm</th>
                <th > id_asset</th>
                <th>kode_pm</th>
                <th>kode_asset</th>
                <th>deskripsi</th>
                <th>man_power</th>
                <th>lead_time</th>
                <th>frequency</th>
                <th>freq_unit</th>
                <th>next_due_date</th>
                <th>wo_type</th>
                <th>location</th>

              </tr>
              </thead>
              <!-- Footer Table -->
            </table>
            <input id="a" name="a" type=hidden value=""/>
            <input id="b" name="b" type=hidden value=""/>
            <input id="c" name="c" type=hidden value=""/>
            <input id="d" name="d" type=hidden value=""/>
            <input id="e" name="e" type=hidden value=""/>
            <input id="f" name="f" type=hidden value=""/>
            <input id="g" name="g" type=hidden value=""/>
            <input id="h" name="h" type=hidden value=""/>
            <input id="i" name="i" type=hidden value=""/>
            <input id="j" name="j" type=hidden value=""/>
            <input id="k" name="k" type=hidden value=""/>

          </div>
      </div>
    </div>
  </div>
</div>
</div>

<script>
$('#pembuatan').daterangepicker({
singleDatePicker: true,
showDropdowns: true,
locale: {
format: 'YYYY-MM-DD'
}
});
</script>
