


<div id="modal_summary" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" style="width:1650px;">
    <div class="modal-content">

      <div class="modal-body">
              <div id="drange" class="btn btn-success btn-lg">
                <span></span> <b class="caret"></b>
                <button width="30%"  class="btn btn-block btn-warning"  type="button" ><i class=" glyphicon glyphicon-close"></i> Export To XLS</button>
              </div>

                <div >

                  <div class="tab-content">
                    <div class="tab-pane active" id="tab_1">
                      <div >
                        <div class="col-md-15" id="date_filter">
                          <div class="panel panel-default">


                            <table aria-describedby="example_info" cellspacing="0"
                                   class="display"
                                   id="tabel_log_down" role="grid" style="width: 100%;"
                                   width="100%">
                              <!-- Header Table -->
                              <thead>
                              <tr>
                                <th>Date</th>
                                <th>Time</th>
                              </tr>
                              </thead>
                              <!-- Footer Table -->
                            </table>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div>
                    <div >
                      <div id="container" width="30%"  style="height:600px">
                      </div>
                    </div>
                  </div>
                </div>

      </div>
    </div>
  </div>
</div>
</div>

<script>
$('#pembuatan').daterangepicker({
singleDatePicker: true,
showDropdowns: true,
locale: {
format: 'YYYY-MM-DD'
}
});
</script>
